<section class="row" data-ng-controller="AuthenticationController">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-offset-2 col-xs-8 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4 login-form-bg">
				<h3 class="col-md-12 text-center">Provide sign up details</h3>
				<form name="userForm" data-ng-submit="signup()" class="signin form-horizontal" novalidate autocomplete="off">
					<!-- <fieldset> -->
						<div class="form-group">
							<div data-ng-show="error" class="alert alert-danger" role="alert">
								<span data-ng-bind="error"></span>
							</div>
						</div>
						<div class="form-group">
							<div class="input-group input-group-lg">
							  <span class="input-group-addon" id="basic-addon1">
							  	<i class="glyphicon glyphicon-hand-right"></i>
							  </span>
							  <input type="text" required id="firstName" name="firstName" data-ng-model="credentials.firstName" class="form-control" placeholder="First Name" aria-describedby="basic-addon1">
							</div>
						</div>
						<div class="form-group">
							<div class="input-group input-group-lg">
							  <span class="input-group-addon" id="basic-addon1">
							  	<i class="glyphicon glyphicon-hand-right"></i>
							  </span>
							  <input type="text" id="lastName" name="lastName" data-ng-model="credentials.lastName" class="form-control" placeholder="Last Name" aria-describedby="basic-addon1">
							</div>
						</div>
						<div class="form-group">
							<div class="input-group input-group-lg">
							  <span class="input-group-addon" id="basic-addon1">
							  	<i class="glyphicon glyphicon-envelope"></i>
							  </span>
							  <input type="email" id="email" name="email" data-ng-model="credentials.email" class="form-control" placeholder="Email" aria-describedby="basic-addon1">
							</div>
						</div>
						<div class="form-group">
							<div class="input-group input-group-lg">
							  <span class="input-group-addon" id="basic-addon1">
							  	<i class="glyphicon glyphicon-user"></i>
							  </span>
							  <input type="text" id="username" name="username" data-ng-model="credentials.username" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
							</div>
						</div>
						<div class="form-group">
							<div class="input-group input-group-lg">
							  <span class="input-group-addon" id="basic-addon1">
							  	<i class="glyphicon glyphicon-asterisk"></i>
							  </span>
							  <input type="password" id="password" name="password" data-ng-model="credentials.password" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
							</div>
						</div>
						<br>
						<div class="form-group">
							
							<button type="submit" class="btn btn-success btn-lg btn-block">
								Sign up
							</button>
						</div>
						<div class="forgot-password text-center">
							&nbsp; or&nbsp;<a href="/#!/signin" class="show-signup">Sign in</a>
						</div>
					<!-- </fieldset> -->
				</form>
			</div>
		</div>		
	</div>
</section>