<section class="row" data-ng-controller="AuthenticationController">
	
	<div class="col-xs-offset-2 col-xs-8 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4 login-form-bg">
		<h3 class="text-center">Login</h3>
		<form data-ng-submit="signin()" class="signin form-horizontal" autocomplete="off">
			<fieldset>


				<div class="form-group">
					<div data-ng-show="error" class="alert alert-danger" role="alert">
						<span data-ng-bind="error"></span>
					</div>
				</div>

				<div class="form-group">
					<div class="input-group input-group-lg">
					  <span class="input-group-addon" id="basic-addon1">
					  	<i class="text-muted glyphicon glyphicon-user"></i>
					  </span>
					  <input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username" aria-describedby="basic-addon1">
					</div>
				</div>

				
				<div class="form-group">
					<div class="input-group input-group-lg">
					  <span class="input-group-addon" id="basic-addon1">
					  	<i class="text-muted glyphicon glyphicon-asterisk"></i>
					  </span>
					  <input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password" aria-describedby="basic-addon1">
					</div>
				</div>
				<br>
				<div class="form-group">
					<button type="submit" class="btn btn-success btn-lg btn-block">Sign in</button>
				</div>

	
				<div class="forgot-password text-center">
					<a href="/#!/password/forgot">Forgot your password?</a>&nbsp; or&nbsp;
					<a href="/#!/signup">Sign up</a>
				</div>


				
				
			</fieldset>
		</form>
	</div>
</section>